@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  text-align: center;
  font-family: "Bangers";
}

body {
  background-image: url(img/background.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.intro {
  font-size: 1.5rem;
}

.playersChoice {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.rock,
.paper,
.scissors:hover {
  cursor: pointer;
}

.rock {
  background-image: url(img/Rock.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
}

.paper {
  background-image: url(img/Paper.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
}

.scissors {
  background-image: url(img/Scissors.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
}
.tempRes {
  display: flex;
  justify-content: center;
  gap: 100px;
  color: rgb(155, 8, 40);
  font-size: 1.5rem;
}

.newGame {
  margin-top: 100px;
}
